<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <main>
        <div class="login">Please input a valid username and password!</div>
        <div class="login">
                <form action="/auth" method="post">
                    <label for="user">User name:</label><br>
                    <input type="text" id="user" name="user"><br>
                    <label for="password">Password:</label><br>
                    <input type="text" id="password" name="password"><br><br>
                    <input type="submit" value="Submit">
                </form> 
        </div>
    </main>
</body>
</html>