<!DOCTYPE html>
<html lang="en">
<div class="background">
<head>
  <%- include('../partials/head'); %>

  <style>
      * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.startpage{
    height: 720px;
}

.box {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 100%;    
}


.box:first-child {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.box:nth-child(2) {
    border-bottom: 1px solid black;
}
.box:nth-child(3) {
    border-right: 1px solid black;
}

h1{
    color:mediumblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2,h3{
    color: darkorange;
}
</style>
</head>
<body class="container">
<main>
    
<div class="startpage">
        <div class="box">
            <h1>Welcome to the library page for librarians</h1>
            <h2>This is a specially designed webpage for managing a database with the readers, authors and books</h2>
            <h3>Please input your credentials if you are a librarian on the following login link:</h3>
            <form action="/login" method="get">
                <input type="submit" style="float:inline-end" value="Login">  
              </form>
        </div>
        
        <div class="box" style="background-image:url(../images/librarians.jpg);">
        </div>
        
</div>
    
</main>

</body>
</div>
</html>